---
layout : default
---

<!-- One -->
<section id="one">
    <header class="major">
        <h2>{{ site.title }}</h2>
    </header>
    <p>Some girls are made of adventure, fine beer, brains, and no fear.</p>
</section>

<!-- Two -->
<section id="two">
    <h2>Recent Posts</h2>
    <div class="row">
        {% for post in site.posts %}
            <article class="6u 12u$(xsmall) work-item">
                <a href="{{ post.url }}"><img src="{{ post.image }}" alt="" class="image fit"/></a>
                <h3>{{ post.title }}</h3>
                <p>{{ post.subtitle }}</p>
            </article>
        {% endfor %}
    </div>
    <ul class="actions">
        <li><a href="#" class="button">Older Posts</a></li>
    </ul>
</section>
